@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* html {
    @apply 
} */

.app-container {
    @apply container mx-auto
}

.app-outline-none {
    outline: none;
}

.btn-fill-primary {
    @apply bg-primary text-base text-white px-5 py-[9px] font-bold rounded-[8px]
}
.btn-null-primary {
    @apply dark:bg-dark-soft bg-white border-2 dark:border-slate-400 border-primary text-base dark:text-slate-400 text-primary px-5 py-1.5 font-bold rounded-[8px]
}
.tags {
    @apply bg-primary/10 text-sm text-primary px-5 py-1.5 my-1 font-bold rounded-[4px] cursor-pointer
}

/* blog post TextEditor style Start */

.text-editor {
    @apply min-h-10 border rounded-md p-4 mb-5 whitespace-normal font-opensans
}

.text-editor .text-editor-wrapper {
    outline: none;
}

.text-editor-body-placeholder::before {
    content: 'Your Article body...';
    position: absolute;
    color: gray;
    z-index: -1;
}

li, p, h1, strong {
    min-height: 24px;
}
/* blog post TextEditor style end */